/*****************
* ...UI color....*
******************/
$bodyTextColor: #4F4F4F;
$titleTextColor: #ffffff;
$backgroundColor: #ffffff;


//Toast message ui
$grey: #fafafa;
$toastBackground: rgba(79,79,79,0.97);
/*****************
* ...BUTTONS....*
******************/
$saveButton: #82B733;
$deleteButton: #d23f31;
$addContactBack: #00866d;


$filterBodyColor: #007369;