<header class="cm-header shadow">
    <div class="header-inner">
        <div class="header-title">
            <h1>All Contacts</h1>
        </div>
    </div>
</header>
    <div class="js-filter-view"></div>

    <ul class="js-grid-view"></ul>

    <div class="addContact">
        <button class="js-app-link" aria-label="Add new contact" href="/add" tabindex="1">+</button>
    </div>

