
/*******************
*  Add contact nav *
*  button          *
********************/
.addContact {
    position: fixed;
    height: 56px;
    width: 56px;
    bottom: 5%;
    right: 5%;
    
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    
    button {
        position: relative;
        background-color: $addContactBack;
        height: 56px;
        width: 56px;
        padding-left: 7px;
        border: none;
        color: $titleTextColor;
        font-size: 2.4rem;
        
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
         box-shadow: 0 1px 4px rgba(0,0,0,0.4);
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }

    
    button:hover, button:focus {
        background-color: lighten($addContactBack, 5);
    }
    
    button:active {
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
        transform: translateY(5px);
    }
}

/*****************
*  Form Buttons  *
******************/
.form-button {
    text-align: center;
    
    button {
        display: inline-block;
        @include OpenSan-Light;
        padding: 6px 12px;
        margin: 0 5px;
        width: 70px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 4px;
        color: $titleTextColor;
    }
}

.delBtn{
    background-color: $deleteButton;
    border: 1px solid;
    border-color: $deleteButton;
    
    a{
        color: #ffffff;
    }
}

.saveBtn{
    background-color: $saveButton;
    border: 1px solid;
    border-color: $saveButton;
    
    a{
        color: #ffffff;
    }

}

/*****************
*  Reset Button  *
******************/

button {
    background: none;
    border: 0;
}

.reset-button {
    @include OpenSan-Regular;
    width: 100px;
    padding: 0.8em;
    background: white;
}